<!DOCTYPE html>

<div id="localImag"  style="width: 300px; height: 200px">
   <img id="preview" alt="预览图片" src="../../Images/noImage.gif" width="300px" height="200px" />
</div>
<input id="PicLoad" Width="300px" type="file" onchange="javascript:setImagePreview(this,localImag,preview);"></input>
<input id="submit" type="submit" onclick="javascript:submitImg(PicLoad, preview)">



<script type="text/javascript">
        function setImagePreview(docObj,localImagId,imgObjPreview) 
        {
            if(docObj.files && docObj.files[0])
            {
                //火狐下，直接设img属性
                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '300px';
                imgObjPreview.style.height = '200px';                


                //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式  
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
                console.log("img file", docObj.files[0]);
                console.log("imgobj", imgObjPreview);
            }
            else
            {
                //IE下，使用滤镜
                docObj.select();
                var imgSrc = document.selection.createRange().text;
                
                //必须设置初始大小
                localImagId.style.width = "300px";
                localImagId.style.height = "200px";
                
                //图片异常的捕捉，防止用户修改后缀来伪造图片
                try
                {
                    localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                 }
                 catch(e)
                 {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                  }                          
                  imgObjPreview.style.display = 'none';
                  document.selection.empty();
            }
            return true;
        }


  function convertImgToBase64URL(url, base64Img, outputFormat){
    var canvas = document.createElement('CANVAS'),
        ctx = canvas.getContext('2d'),
        img = new Image;
    img.crossOrigin = 'Anonymous';
    img.onload = function(){
        //var dataURL;
        canvas.height = img.height;
        canvas.width = img.width;
        ctx.drawImage(img, 0, 0);
        base64Img = canvas.toDataURL(outputFormat);
        canvas = null; 
    };
    img.src = url;
    }

    function submitImg(docObj, imgObjPreview){
        var base64Img;
        console.log("file:", docObj.files[0])
        convertImgToBase64URL(imgObjPreview.src, base64Img, docObj.files[0].type);
        console.log("base64Img:", base64Img);

    }
</script>

